/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    cursor: default;
    display: inline-block;
    position: relative;

}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
    background-color: #24BDF2;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray();
}

.placed {
    background-color: black;
}

.occupied {
    background-color: #C2C0BD;
}

.hit {
    background-color: red;
}

.sink {
    background-color: maroon;
}

.miss {
    background-color: white;
}
.container h1{
    text-align: center;
}

body {
    background-color: #F28216;
}

~h1 {
    background-color: aqua;
}

