/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    cursor: default;
    display: inline-block;
    position: relative;

}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
    background-color: #24BDF2;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray();
}

.placed {
    background-color: black;
}

.occupied {
    background-color: #C2C0BD;
}

.hit {
    background-color: red;
}

.sink {
    background-color: maroon;
}

.miss {
    background-color: white;
}

.container h1{
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px gray;
    margin-top: 50px;
}
.container p1{
    margin-left: 400px;
    margin-right: 675px;
    font-size: 30px;
    color: darkblue;
    font-weight: bold;
}

.container p2{
    margin-left: 1300px;
    margin-right: 1425px;
    font-size: 30px;
    color: darkblue;
    font-weight: bold;
}

.container p3{
   font-weight: bold;
   height: 12px;
   width:  8px;
}
.container ul {
    list-style-type: none;
    position: absolute;
    margin-top: 120px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 150px;
    height: 175px;
}
.container hr {
   border: none;
}
.container footer {
   position: absolute;
   bottom:0;
   width:100%;
   height:30px;

}

.gray {
  background-color: gray;
}

#sonar_button{
    width: 30px;
    height: 30px;
}

body {
    background-color: #F28216;
}
table#opponent.battleGrid{
    position: absolute;
    margin-left: 1250px;
    bottom: 250px;
}
table#player.battleGrid{
    position: absolute;
    margin-left: 325px;
    bottom: 250px;

}

~h1 {
    background-color: aqua;
}


