<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>BATTLESHIP</h1>



<p1> Player Field </p1>
<table id="player" class="battleGrid">
</table>

<p2> Opponent Field </p2>
<table id="opponent" class="battleGrid">
</table>


<ul>
    <p3>FLEET:</p3>
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><button id="place_submarine">Place Submarine</button></li>
    <li><img id= "sonar_button" src="https://previews.123rf.com/images/micelinjo/micelinjo1406/micelinjo140600095/29024386-cran-radar-bleu-sur-les-lignes-de-la-grille-carr%C3%A9s-et-la-carte-tr%C3%A8s-d%C3%A9taill%C3%A9e-du-monde-vecteur.jpg"/><button id="SONAR">Use Sonar </button></li>
    <li></li>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>

    <li></li>
    <li class="miss"> WHITE = MISS </li>
    <li class="hit"> RED = HIT </li>
    <li class="sink"> MAROON = SINK </li>
</ul>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>